#center_box {
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: relative;
  min-width: 830px;
  min-height: 600px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1.5rem;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}
#center_box > h2 {
  color: black;
  text-align: left;
  font-size: xx-large;
  margin-left: 20px;
  margin-bottom: 20px;
}
#main_content_dynamic {
  background-color: rgb(65, 65, 65);
  width: 100%;
  height: 100%;
}
.display--flex--column {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

#display-flex-column {
  display: flex;
  flex-direction: row;
}
#center-creation {
  width: 50%;
  margin: auto;
}
#booking-display {
  display: flex;
  flex-direction: row;
  padding: 1.5rem, 1.5rem, 1.5rem, 1.5rem;
  color: black;
}
input {
  width: 100%;
  height: 2.5rem;
  border-style: solid;
  border-width: 1.5px;
}
input:focus {
  border-style: solid;
  border-width: 4px;
  border-color: red !important;
  outline: none;
}

input[type="date"],
input[type="time"] {
  max-width: 100%;
  stroke: black;
}
select {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  min-height: 2.5rem;
  min-width: 200px;
  color: black;
  text-align: center;
}
.display-flex--column {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#submit-button {
  align-self: flex-end;
  width: 20%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 10px;
}
label {
  color: black;
  margin: 0;
  padding: 0;
}
#bg_blurr {
  width: 100%;
  height: 100%;
  color: rebeccapurple;
  z-index: 99999;
}
/* details confirmation box */
#details_confirmation_box {
  width: 50%;
  margin: 170px 170px;
  height: auto;
  background-color: rgb(218, 218, 218);
  position: absolute;
  border-radius: 8px;
  font-size: larger;
  padding-top: 30px;
  padding-bottom: 20px;
}
.flex-display--column > p:last-child {
  margin-bottom: 20px;
}
.flex-display--column > p {
  padding-bottom: 10px;
}
#top-booking-clear {
  display: flex;
  flex-direction: row;
}
#top-booking-clear > h1 {
  font-size: 40px;
  margin-bottom: 30px;
}
#top-booking-clear > button {
  height: 40px;
  margin-left: 45%;
  margin-top: 1%;
}
