* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.login_bg {
  width: 1600px;
  height: 760px;
  margin: 0 0 0 0;
  background-image: url("/login_bg.png");
  background-size: cover;

  box-sizing: border-box;
  overflow: hidden;
}
#bg_blug {
  /* width: 100%;
  height: 100%;*/
  height: 760px;
  width: 1600px;
  overflow: hidden;
  background-color: #00000099;
  display: flex;
  z-index: 0;
  position: absolute;
}
#login_bg_bg {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  position: relative;
}
#login_box_main {
  background-color: #fff;
  width: 300px;
  height: 70%;
  position: relative;
  margin-left: 660px;
  margin-right: 300px;
  margin-top: 5%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#cjc_logo {
  width: 150px;
  height: 150px;
}
#error_box {
  color: #691911;
  background-color: #ff000029;
  border-radius: 9px;
  height: 130%;
  align-items: center;
  justify-content: center;
  border-color: #f0c5c1;
  border-style: solid;
  border-width: 1px;
}
#error_spacer {
  margin-bottom: 20px;
}

input {
  background-color: #ffffff;
  padding: 10px 20px;
  height: calc(1.5em + 1rem + 9px);
  color: black;
  border-radius: 0.6rem;
  border-style: solid;
  border-width: 2px;

  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 0 0;
}
#bottom_input {
  margin-bottom: 30px;
}
#login_button {
  background-color: black;
  width: 100%;
}
#forgot_password-prompt {
  margin-top: 10px;
  color: #ff0000;
}

#forgot_password-prompt:hover {
  font-size: 110%;
  animation-duration: 0.5s;
}
