#background_landing {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: white;
  display: row;
  background-image: url("./langding_bg_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#error_message_credentials {
  position: absolute;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: #00000070;
  color: white;
}
#collapsed_heading > p {
  box-shadow: 1px 1px 1px #00000070;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  float: left;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  position: relative;
}
#navigation_box_expanded_header {
  position: absolute;
  margin-top: 50px;
  z-index: 99999;
  width: auto;
  height: auto;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
#display_flexwidth {
  display: flex;
  flex-direction: row;

  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

#username_decor {
  margin-right: 20px;
  font-size: larger;
  font-weight: 500;
}
#center_error_box {
  width: 20%;
  height: 200px;
  border-radius: 8px;
  margin-top: 20%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  font-size: xx-large;
}
#center_error_box > button {
  width: 200px;
  height: 50px;
  font-size: small;
}
.test > li {
  color: white;
}
#react-logout {
  color: red;
  width: 200px;
  height: auto;
}
#Logout_box {
  position: absolute;
  width: 200px;
  height: 40px;
  border-bottom-left-radius: 8px;
  background-color: white;
  margin-top: 57px;
  z-index: 999;
  margin-left: 88%;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-top: 6px;
  padding-left: 20px;
}
#logout-button {
  width: 30px;
  height: 30px;
}
#landing_header {
  background-color: red;
  display: flex;
  height: 61px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
li {
  list-style: none;
  align-items: center;
  text-align: center;
}
#landing_header > li {
  background-color: blue;
}
#Logo_header {
  width: 55px;
  height: 55px;
  align-self: flex-start;
  margin-left: 20px;
}
.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.test {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Optional: Set text color to make it visible against the blue background */
  margin-left: 100px;
}

.test > li {
  display: flex;
  height: 100%;
  justify-content: center;
  margin-right: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
li:hover {
  background-color: #cf000090;
  border-radius: 10px;
}
#user_icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  align-self: flex-end;
  margin-right: 20px;
}

#display-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#position--aboslute {
  position: absolute;
  width: 900px;
  height: 800px;
  background-color: blue;
}
#bg_blur {
  width: 100%;
  height: 100%;
  background-color: #cf000090;
}
#background_blug-black {
  background-color: #00000090;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
#button-toggle-sidebar {
  position: absolute;
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: red;
  font-size: xx-large;
  text-align: center;
}
