.card-main {
  width: 100%;
  height: max-content;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin: 0.3rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: solid 1.5px rgb(133, 133, 133);
  margin-bottom: 10px;
  z-index: 999;
}
.display-flex--row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  font-family: Inknut Antiqua;
}
.display-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Inknut Antiqua;
}
#span_bg {
  width: 100px;
  position: relative;
  height: 100px;
  background-color: red;
  z-index: 0;
}
#button_spacer_pending {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  background-color: #fff06a;
  color: black;
}
#button_spacer_approve {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  background-color: #81fa9b;
  color: black;
}
#button_spacer_denied {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  background-color: #f57777;
  color: black;
}
